*
    {
        margin: 0%;
        padding: 0%;
    }

a
    {   
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.5px;
        padding: 0 20px;
        text-decoration: none;
        color: #d1d1d1ec;
        transition: color 0.3s ease;  
    }

body 
    {
        background-color: #000000;
        color: #ffffff;
        text-align: center;
    }

header, main, footer
    {
        display: block;
    }

#top
    {
        font-size: 2rem;
        font-size: clamp(2rem, 3vw, 3rem);
        padding: 5%;
    }

#main
    {
        font-size: 2rem;
        font-size: clamp(2rem, 2.25vw, 3rem);
    } 

#main li
    {
        display: inline-block;
        list-style: none;
        padding: 5%;
    }

#main li:hover
    {
        transform: scale(1.25);
    }

#footer
    {
        font-size: 1.5rem;
        font-size: clamp(1.5rem, 1.75vw, 2rem);
    }      

#footer li
    {
        display: inline-block;
        list-style: none;
        padding: 5%;
    }

#footer li:hover
    {
        transform: scale(1.25);
    }