*
    {
        margin: 0%;
        padding: 0%;
        filter: drop-shadow(1px 1px 1px #696969);
    }

body 
    {
        background-color: #000000;
        color: #ffffff;
        text-align: center;
    }

header, main, footer
    {
        display: block;
    }

#top
    {
        font-size: 2rem;
        font-size: clamp(2rem, 3vw, 3rem);
        padding: 5%;
    }

#main li
    {
        display: inline-block;
        list-style: none;
        padding: 5%;
    }

#main li:hover
    {
        transform: scale(1.25);
    }

#main
    {
        font-size: 1.5rem;
        font-size: clamp(1.5rem, 1.75vw, 2rem);
    } 